/* ==================== CSS Variables ==================== */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import url('login.css');
@import url('setup.css');
@import url('regester.css');
@import url('header.css');
@import url('home.css');
@import url('about.css');
@import url('services.css');


@import url('info.css');
@import url('donor.css');
@import url('admin.css');
@import url('receiver.css');